[Desktop Entry]
# The version of the desktop entry specification 
Version=1.1
# The name of the application
Name=Obsidian
# Describes the categories in which this entry should be shown
Categories=Office;
# The type of desktop entry
Type=Application
# A tooltip shown when hovering over the icon
Comment=Open a Vault
# The name of the icon that will be used to display this entry
Icon=HOME_DIR/.local/share/obsidian/images/obsidian_core.svg
# The path to the folder in which the executable is run
Path=HOME_DIR/.local/share/obsidian
# The executable of the application, possibly with arguments.
Exec=HOME_DIR/.local/share/obsidian/Obsidian-1.8.7.AppImage
# Ensures the application window is grouped correctly in the launcher
StartupWMClass=obsidian
# Describes whether this application needs to be run in a terminal or not
Terminal=false
# Registers Obsidian as the default application for "obsidian://" links.
MimeType=x-scheme-handler/obsidian;


